@if (_isAuthorize)
{
    <a class="dropdown-item" href="admin/configurations">Configurations </a>
    <a class="dropdown-item" href="admin/categories">Categories </a>
    <a class="dropdown-item" href="admin/products">Products </a>
    <a class="dropdown-item" href="admin/product-types">Product Types </a>
    <a class="dropdown-item" href="admin/product-variants">Product Variants </a>
}