@if (!string.IsNullOrWhiteSpace(ImageUrl))
{
    <a href="/products/@ProductId">
        <img class="img" src="@ImageUrl"
             alt="@Title" />
    </a>
}
else if (ImageCount != 0)
{
    <a href="/products/@ProductId">
        <img class="img" src="@Data"
             alt="@Title" />
    </a>
}
else
{
    <p>
        No image for this product
    </p>
}
