@page "/admin/categories" 
<PageTitle> Categories </PageTitle>
<h3>Categories</h3>


<div class="header">
    <div class="col">Name</div>
    <div class="col">Url</div>
    <div class="col">Visible</div>
    <div class="col"></div>
</div>


 @foreach (var category in CategoryService.AdminCategories)
{
    <div class="row">
        <div class="col">
            @category.Name
        </div>
        <div class="col">
            @category.Url
        </div>
        <div class="col col-visible">
            <span>@(category.Visible ? "✔️" : "")</span>
        </div>
        <div class="col">
            <button class="btn btn-primary" @onclick="(() => NavigateToEditCategory(category.Id))">
                Update 
            </button> 
            <button class="btn btn-primary" @onclick="(() => NavigateToDeleteCategory(category.Id))">
                Delete
             </button> 
        </div>
    </div>
}

<button class="btn btn-primary" @onclick="NavigateToAddCategory">
   Add new category
</button>