@page "/admin/configurationUpdate/{ConfigurationKey}/{ConfigurationLanguage}"
<PageTitle> Configuration update </PageTitle>
<h3>Configuration update</h3>

<ConfigurationForm Add="false" ConfigurationKey="@ConfigurationKey" ConfigurationLanguage="@ConfigurationLanguage" />