@page "/admin/configurationDelete/{CategoryConfigurationPageTitleKey}/{ConfigurationLanguage}"
<PageTitle>
    Configuration Delete
</PageTitle>
<h3>Configuration Delete</h3>
<p>
    @_messageError
</p>