@page "/admin/productVariantUpdate/{productId:guid}/{productTypeId:guid}"

<PageTitle> @_titlePage </PageTitle>
<h3>@_titlePage</h3>

<ProductVariantForm Add="false" ProductId=@ProductId ProductTypeId=@ProductTypeId />