@page "/admin/productVariantUpdate/{productId:guid}/{productTypeId:guid}"
<PageTitle> Product variant update </PageTitle>
<h3>Product-variant update</h3>
<ProductVariantForm Add="false" ProductId="@ProductId" ProductTypeId="@ProductTypeId" />